{% extends 'animales/base.html' %}

{% block title %}Búsqueda Avanzada{% endblock %}

{% block content %}
<h2>Búsqueda Avanzada</h2>
<form method="get" action="{% url 'buscar_avanzado' %}" class="mb-4">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="tipo">Tipo:</label>
            <select id="tipo" name="tipo" class="form-control">
                <option value="">Cualquiera</option>
                <option value="Perro">Perro</option>
                <option value="Gato">Gato</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="genero">Género:</label>
            <select id="genero" name="genero" class="form-control">
                <option value="">Cualquiera</option>
                <option value="Macho">Macho</option>
                <option value="Hembra">Hembra</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="tamano">Tamaño:</label>
            <select id="tamano" name="tamano" class="form-control">
                <option value="">Cualquiera</option>
                {% for tamaño in tamanos %}
                    <option value="{{ tamaño }}">{{ tamaño }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-1">
            <label for="edad_min">Edad Mínima:</label>
            <input type="number" id="edad_min" name="edad_min" min="0" class="form-control">
        </div>
        <div class="form-group col-md-1">
            <label for="edad_max">Edad Máxima:</label>
            <input type="number" id="edad_max" name="edad_max" min="0" class="form-control">
        </div>
        <div class="form-group col-md-1">
            <button type="submit" class="btn btn-primary mt-4">Buscar</button>
        </div>
    </div>
</form>

{% if animales %}
<div class="row">
    {% for animal in animales %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{ animal.url_foto }}" alt="{{ animal.nombre }}">
            <div class="card-body">
                <h5 class="card-title">{{ animal.nombre }}</h5>
                <p class="card-text">Tipo: {{ animal.tipo }}</p>
                <p class="card-text">Género: {{ animal.genero }}</p>
                <p class="card-text">Tamaño: {{ animal.tamano }}</p>
                <p class="card-text">Edad: {{ animal.edad }}</p>
                <a href="{{ animal.url_detalle }}" class="btn btn-primary">Ver Detalles</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No se encontraron animales.</p>
{% endif %}
{% endblock %}
