{% extends 'animales/base.html' %}

{% block title %}Lista de Animales{% endblock %}

{% block content %}
<h2 class="mb-4">Lista de Animales</h2>
<div class="row">
    {% for animal in animales %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{ animal.url_foto }}" alt="{{ animal.nombre }}">
            <div class="card-body">
                <h5 class="card-title">{{ animal.nombre }}</h5>
                <p class="card-text">Tipo: {{ animal.tipo }}</p>
                <p class="card-text">Género: {{ animal.genero }}</p>
                <p class="card-text">Raza: {{ animal.raza }}</p>
                <p class="card-text">Edad: {{ animal.edad }}</p>
                <p class="card-text">Tamaño: {{ animal.tamano }}</p>
                <a href="{{ animal.url_detalle }}" class="btn btn-primary">Ver Detalles</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
